.Footer {
  display: flex;
  justify-content: space-between;
}
.footer {
  background: rgb(150, 150, 189);
}
.footer__grit {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  align-items: center;
}
.footer__title {
  font-weight: 400;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}
.footer__icons {
  display: flex;
  justify-content: space-evenly;
}

.footer__icon {
  color: inherit;
  font-size: 30px;
  text-decoration: none;
}
.fab .footer__icon {
  line-height: 50%;
}
.nav{
  display: flex;
  justify-content: flex-end;
  height: 70px;
  align-items: center;
  font-weight: 700;
}
.nav--footer{
  font-weight: 300;
  justify-content: flex-start;
}
.nav__items{
  color: #fff;
  margin-right: 20px;
  padding: 10px 15px;
  font-weight: inherit;
  text-decoration: none;

}
.nav__items:hover{
  color: black;
  transition: 2s;
}
.footer__container-ocons{
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 200%;
}
.nav__items--cta{
  border: 1px solid #fff;
}
.nav__items--footer{
  padding: 10px;
}
